<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cubrid.cubridmigration.plugin.handler.DropdownMenuHandler"
            commandId="com.cubrid.cubridmigration.plugin.command.poptoolbarmenus">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.cubrid.cubridmigration.plugin.command.poptoolbarmenus"
            name="Pop migration menus">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
   
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="com.cubrid.cubridmigration.ui.menu.migration"
               label="%migration">
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.NewMigration"
                  label="%newMigration"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.menu.migration.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory"
                  label="%migrationHistory"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.menu.migration.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.cubrid.cubridmigration.ui.action.handler.ShowScriptManagementViewPartHandler"
                  label="%scriptManager"
                  style="push">
            </command>
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.OpenExtScript"
                  label="%loadMigration"
                  style="push">
            </command>
         </menu>
      </menuContribution>
	  <menuContribution
            allPopups="false"
            locationURI="toolbar:new1?before=cubrid.tools.toolbar.help">
         <separator
               name="com.cubrid.cubridmigration.ui.menu.migration.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.plugin.command.poptoolbarmenus"
               icon="icon/tb/tb_new_wizard.png"
               id="com.cubrid.cubridmigration.toolbar.newMigrationWizard"
               label="%migration_button"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.menu.migration.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         id="com.cubrid.cubridmigration.toolbar.popmenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.cubrid.cubridmigration.toolbar.newMigrationWizard">
         <command
               commandId="com.cubrid.cubridmigration.ui.command.NewMigration"
               icon="icon/tb/mnu_new_wizard.png"
               id="com.cubrid.cubridmigration.subtoolbar.newMigrationWizard"
               label="%newMigration"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%ttCreateNewMigration">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.menu.migration.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory"
               icon="icon/tb/mnu_history.png"
               id="com.cubrid.cubridmigration.subtoolbar.migrationHistory"
               label="%migrationHistory"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%ttShowHistory">
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            id="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            name="%prefTitleMigration">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.common.composite.MySQLToCUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.common.composite.MySQLToCUBRIDTypeMapPage"
            name="MySQL&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MySQLToCUBRIDTypeMapPage"
            class="com.cubrid.cubridmigration.ui.common.composite.MySQLToCUBRIDParameterPage"
            id="com.cubrid.cubridmigration.ui.common.composite.MySQLToCUBRIDParameterPage"
            name="%OtherSettings">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.common.composite.CUBRID2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.common.composite.CUBRID2CUBRIDTypeMapPage"
            name="CUBRID&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.common.composite.Oracle2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.common.composite.Oracle2CUBRIDTypeMapPage"
            name="Oracle&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.common.composite.SQLServer2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.common.composite.SQLServer2CUBRIDTypeMapPage"
            name="MSSQL&gt;&gt;CUBRID">
      </page>
      <!--
      <page
            category="com.cubrid.cubridmigration.ui.common.composite.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.preference.JDBCDriverManagePage"
            id="com.cubrid.cubridmigration.ui.preference.JDBCDriverManagePage"
            name="%JDBCDrivers">
      </page>
      -->
   </extension>
   
</plugin>
