<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="com.cubrid.common.ui.common.notice.NoticeDashboardEditor"
            class="com.cubrid.common.ui.common.notice.NoticeDashboardEditor"
            default="false"
            icon="icon/notice/new_info.png"
            name="%noticeDashboard">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.wizard.editor.MigrationProgressEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.wizard.editor.MigrationProgressEditorPart"
            name="%migrationProgress">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.wizard.editor.SQLProgressEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.wizard.editor.SQLProgressEditorPart"
            name="%migrationProgress">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.wizard.editor.CSVProgressEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.wizard.editor.CSVProgressEditorPart"
            name="%migrationProgress">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.history.MigrationReportEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.history.MigrationReportEditorPart"
            name="%migrationReport">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.history.SQLImportReportEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.history.SQLImportReportEditorPart"
            name="%migrationReport">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.history.CSVImportReportEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.history.CSVImportReportEditorPart"
            name="%migrationReport">
      </editor>
      <editor
            class="com.cubrid.cubridmigration.ui.history.MigrationHistoryEditorPart"
            default="false"
            id="com.cubrid.cubridmigration.ui.history.MigrationHistoryEditorPart"
            name="%migrationHistory">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cubrid.cubridmigration.ui.product.CMTNewInfoEditorPart"
            default="false"
            icon="icon/new_info.png"
            id="com.cubrid.cubridmigration.ui.product.CMTNewInfoEditorPart"
            name="%CMTNewEditor">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cubrid.cubridmigration.app.category1"
            name="CUBRID Migration Toolkit">
      </category>
      <view
            allowMultiple="false"
            category="com.cubrid.cubridmigration.app.category1"
            class="com.cubrid.cubridmigration.ui.script.MigrationScriptExplorerView"
            icon="icon/exportReport.gif"
            id="com.cubrid.cubridmigration.ui.script.MigrationScriptExplorerView"
            name="%migrationScriptExplorer"
            restorable="true">
      </view>
   </extension>
 <extension
       id="com.cubrid.migration.ui.commands.backup"
       name="Back Up Commands"
       point="org.eclipse.ui.commands">
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.window"
          id="com.cubrid.cubridmigration.ui.command.showDBExplore"
          name="%databaseExplorer">
    </command>
    <command
          id="com.cubrid.cubridmigration.ui.command.QuickStart"
          name="%quickStart">
    </command>
 </extension>
    
    <extension
          id="com.cubrid.migration.ui.commands.common"
          name="Common Commands"
          point="org.eclipse.ui.commands">
       <category
             id="com.cubrid.cubridmigration.app.commands.category.migration"
             name="Migration">
       </category>
    <category
          id="com.cubrid.cubridmigration.ui.commands.category.window"
          name="Window">
    </category>
    <category
          id="com.cubrid.cubridmigration.ui.commands.category.script"
          name="Migration Script">
    </category>
    <category
          id="com.cubrid.cubridmigration.ui.commands.category.help"
          name="Help">
    </category>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.NewMigration"
          name="%newMigration">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.app.commands.category.migration"
          id="com.cubrid.cubridmigration.ui.command.MigrationHistory"
          name="%migrationHistory">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.app.commands.category.migration"
          id="com.cubrid.cubridmigration.ui.command.Preference"
          name="%preference">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.window"
          id="com.cubrid.cubridmigration.app.commands.minimizeWindowCommand"
          name="%Minimize">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.window"
          id="com.cubrid.cubridmigration.app.command.zoomWindowCommand"
          name="%ZoomWindow">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.help"
          id="com.cubrid.cubridmigration.ui.command.OnlineHelp"
          name="%onlineHelp">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.help"
          id="com.cubrid.cubridmigration.ui.command.About"
          name="%about">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.RunScript"
          name="%menuOpenScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.Reservation"
          name="%menuReservation">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.CancelSchedule"
          name="%menuCancelReservation">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.RenameScript"
          name="%menuEditScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.DeleteScript"
          name="%menuDeleteScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.CopyScript"
          name="%menuCopyScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.ImportScript"
          name="%menuImportScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.ExportScript"
          name="%menuExportScript">
    </command>
    <command
          categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
          id="com.cubrid.cubridmigration.ui.command.OpenExtScript"
          name="%loadMigration">
    </command>
 </extension>
    <extension
          id="com.cubrid.migration.ui.commands.plugin"
          name="Commands for Plugin"
          point="org.eclipse.ui.commands">
       <command
             categoryId="com.cubrid.cubridmigration.ui.commands.category.script"
             id="com.cubrid.cubridmigration.ui.action.handler.ShowScriptManagementViewPartHandler"
             name="%scriptManager">
       </command>
    </extension>
   
   <extension
          point="org.eclipse.ui.bindings">
        <scheme
            id="miner.accelerator"
            name="myAccelerator"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
       </scheme>
        <key
              commandId="com.cubrid.cubridmigration.app.commands.minimizeWindowCommand"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="miner.accelerator"
              sequence="M1+M">
        </key>
        <key
              commandId="com.cubrid.cubridmigration.app.command.zoomWindowCommand"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="miner.accelerator"
              sequence="M1+M2+M">
        </key>
        <key
              commandId="com.cubrid.cubridmigration.ui.command.NewMigration"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="miner.accelerator"
              sequence="M1+M2+N">
        </key>
        <key
              commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="miner.accelerator"
              sequence="M1+M2+H">
        </key>
    </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.cubrid.cubridmigration.ui.window.MinWindowHandler"
          commandId="com.cubrid.cubridmigration.app.commands.minimizeWindowCommand">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.window.MaxWindowHandler"
          commandId="com.cubrid.cubridmigration.app.command.zoomWindowCommand">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.wizard.handler.NewMigrationWizardHandler"
          commandId="com.cubrid.cubridmigration.ui.command.NewMigration">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.history.handler.MigrationHistoryHandler"
          commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.preference.PreferenceHandler"
          commandId="com.cubrid.cubridmigration.ui.command.Preference">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.product.OnlineHelpHandler"
          commandId="com.cubrid.cubridmigration.ui.command.OnlineHelp">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.product.AboutHandler"
          commandId="com.cubrid.cubridmigration.ui.command.About">
    </handler>
    <handler
          class="com.cubrid.cubridmigration.ui.script.handler.ShowScriptManagementViewPartHandler"
          commandId="com.cubrid.cubridmigration.ui.action.handler.ShowScriptManagementViewPartHandler">
    </handler>
 </extension>
   <extension
         name="Script Handlers"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.OpenExternalScripHandler"
            commandId="com.cubrid.cubridmigration.ui.command.OpenExtScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.OpenMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.RunScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.ExportMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.ExportScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.DeleteMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.DeleteScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.ImportMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.ImportScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.CopyMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.CopyScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.RenameMigrationScriptHandler"
            commandId="com.cubrid.cubridmigration.ui.command.RenameScript">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.CancelReservationHandler"
            commandId="com.cubrid.cubridmigration.ui.command.CancelSchedule">
      </handler>
      <handler
            class="com.cubrid.cubridmigration.ui.script.handler.MigrationReservationHandler"
            commandId="com.cubrid.cubridmigration.ui.command.Reservation">
      </handler>
   </extension>
   <extension
         id="com.cubrid.cubridmigration.view.popmenu.script"
         name="For migration script management view&apos;s context menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.cubrid.cubridmigration.ui.script.MigrationScriptExplorerView?after=additions">
         <command
               commandId="com.cubrid.cubridmigration.ui.command.RunScript"
               style="push"
               tooltip="%ttOpenSelectedMigrationScript">
         </command>
         <separator
               name="com.cubrid.cubridmigration.view.script.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.Reservation"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.CancelSchedule"
               style="push">
         </command>
         <separator
               name="com.cubrid.cubridmigration.view.script.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.RenameScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.DeleteScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.CopyScript"
               style="push">
         </command>
         <separator
               name="com.cubrid.cubridmigration.view.script.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.ImportScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.ExportScript"
               style="push"
               tooltip="%ttSaveCurrentMigrationScript">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.OpenExtScript"
               style="push"
               tooltip="%ttOpenMigrationScript">
         </command>
      </menuContribution>
   </extension>
</plugin>
