<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cubrid.cubridmigration.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="CUBRID Migration Perspective"
            class="com.cubrid.cubridmigration.app.Perspective"
            id="com.cubrid.cubridmigration.app.perspective">
      </perspective>
   </extension>
   <extension
         id="cubrid_migration_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cubrid.cubridmigration.app.application"
            name="CUBRID Migration Toolkit">
         <property
               name="CUBRID Migration Toolkit"
               value="com.cubrid.cubridmigration.product">
         </property>
         <property
               name="appName"
               value="CUBRID Migration Toolkit">
         </property>
         <property
               name="windowImages"
               value="icons/cubrid-logo-16.gif,icons/cubrid-logo-32.gif,icons/cubrid-logo-48.gif,icons/cubrid-logo-64.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/cubrid-logo-16.gif">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini" />
         <property
               name="startupProgressRect"
               value="5,380,557,15">
         </property>
         <property
               name="startupForegroundColor"
               value="C0C0C0">
         </property>
         <property
               name="startupMessageRect"
               value="230,280,557,15">
         </property>

      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cubrid.cubridmigration.ui.preference.GeneralPreferencePage"
            id="com.cubrid.common.ui.preference.general"
            name="%prefTitleGeneral">
      </page>
      <page
            class="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            id="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            name="%prefTitleMigration">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.preference.MySQLToCUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.preference.MySQLToCUBRIDTypeMapPage"
            name="MySQL&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.preference.MySQLToCUBRIDTypeMapPage"
            class="com.cubrid.cubridmigration.ui.preference.MySQLToCUBRIDParameterPage"
            id="com.cubrid.cubridmigration.ui.preference.MySQLToCUBRIDParameterPage"
            name="%OtherSettings">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.preference.CUBRID2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.preference.CUBRID2CUBRIDTypeMapPage"
            name="CUBRID&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.preference.Oracle2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.preference.Oracle2CUBRIDTypeMapPage"
            name="Oracle&gt;&gt;CUBRID">
      </page>
      <page
            category="com.cubrid.cubridmigration.ui.preference.MigrationConfigPage"
            class="com.cubrid.cubridmigration.ui.preference.SQLServer2CUBRIDTypeMapPage"
            id="com.cubrid.cubridmigration.ui.preference.SQLServer2CUBRIDTypeMapPage"
            name="MSSQL&gt;&gt;CUBRID">
      </page>
      <page
            class="com.cubrid.cubridmigration.ui.preference.JDBCDriverManagePage"
            id="com.cubrid.cubridmigration.ui.preference.JDBCDriverManagePage"
            name="%JDBCDrivers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.cubrid.cubridmigration.app.command.poptoolbarmenus.script"
            name="Pop migration menus">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cubrid.cubridmigration.app.handler.DropdownMenuHandler"
            commandId="com.cubrid.cubridmigration.app.command.poptoolbarmenus.script">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.cubrid.cubridmigration.ui.menu.migration"
               label="%migration">
    <command
                  commandId="com.cubrid.cubridmigration.ui.command.NewMigration"
                  label="%newMigration"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.menu.migration.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory"
                  label="%migrationHistory"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.menu.migration.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.Preference"
                  label="%preference"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.menu.migration.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.cubrid.cubridmigration.ui.menu.window"
               label="%Window">
            <command
                  commandId="com.cubrid.cubridmigration.app.commands.minimizeWindowCommand"
                  label="%Minimize"
                  style="push">
            </command>
            <command
                  commandId="com.cubrid.cubridmigration.app.command.zoomWindowCommand"
                  label="%ZoomWindow"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="%help">
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.OnlineHelp"
                  icon="icons/tb/mnu_help.png"
                  label="%onlineHelp"
                  style="push">
            </command>
            <separator
                  name="com.cubrid.cubridmigration.ui.help.separator1"
                  visible="true">
            </separator>
            <separator
                  name="updates"
                  visible="true">
            </separator>
            <separator
                  name="com.cubrid.cubridmigration.ui.help.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.cubrid.cubridmigration.ui.command.About"
                  icon="icons/tb/mnu_about.gif"
                  label="%about"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.cubrid.cubridmigration.toolbar?after=additions">
         <separator
               name="com.cubrid.cubridmigration.ui.toolbar.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.NewMigration"
               icon="icons/tb/tb_new_wizard.png"
               label="%newMigration"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%ttCreateNewMigration">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.toolbar.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.MigrationHistory"
               icon="icons/tb/tb_history.png"
               label="%migrationHistory"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%ttShowHistory">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.toolbar.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.app.command.poptoolbarmenus.script"
               disabledIcon="icons/tb/tb_script_wizard.png"
               hoverIcon="icons/tb/tb_script_wizard.png"
               icon="icons/tb/tb_script_wizard.png"
               id="com.cubrid.migration.toolbar.script"
               label="%btnMigrationScript"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.toolbar.separator4"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.Preference"
               icon="icons/tb/tb_setting.png"
               label="%preference"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%ttOpenPreference">
         </command>
         <separator
               name="com.cubrid.cubridmigration.ui.toolbar.separator5"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.OnlineHelp"
               icon="icons/tb/tb_help.png"
               label="%onlineHelp"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="com.cubrid.cubridmigration.toolbar.popmenu.script"
         name="For toolbar&apos;s pop menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:com.cubrid.migration.toolbar.script">
         <command
               commandId="com.cubrid.cubridmigration.ui.command.RunScript"
               style="push"
               tooltip="%ttOpenSelectedMigrationScript">
         </command>
         <separator
               name="com.cubrid.cubridmigration.toolbar.script.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.Reservation"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.CancelSchedule"
               style="push">
         </command>
         <separator
               name="com.cubrid.cubridmigration.toolbar.script.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.RenameScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.DeleteScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.CopyScript"
               style="push">
         </command>
         <separator
               name="com.cubrid.cubridmigration.toolbar.script.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.ImportScript"
               style="push">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.ExportScript"
               style="push"
               tooltip="%ttSaveCurrentMigrationScript">
         </command>
         <command
               commandId="com.cubrid.cubridmigration.ui.command.OpenExtScript"
               style="push"
               tooltip="%ttOpenMigrationScript">
         </command>
      </menuContribution>
   </extension>
   
</plugin>
